<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>How Can I Help?</title>
  </head>
  <body>
    <div class="login-contain">
      <div class="top-form">
        <h2>Sign In</h2>
        <div>or <a href="/user/new" class="link">create an account</a></div>
      </div>
      <form class="sign-in" method="POST" action="/auth/login">
        <input class="input-style type="text" placeholder="Username"
        name="username" required />
        <input
          class="input-style"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
        <input class="button-style" type="submit" value="Sign in" />
      </form>
    </div>
  </body>
</html>
