<header>
  <div class="nav-contain">
    <div class="logo">How Can I Help?</div>
    <nav>
      <ul class="nav-links">
        <li><a class="link" href="/offers">Home</a></li>
        <li>About</li>
        <li><a class="link" href="/offers">Profile</a></li>
        <li><a class="link" href="/offers">Current Offers</a></li>
        <li><a class="add-btn" href="/offers">Add An Offer</a></li>
      </ul>
    </nav>
  </div>
</header>
