<header>
  <div class="nav-contain">
    <div class="logo">How Can I Help?</div>
    <nav>
      <ul class="nav-links">
        <li><a class="link" href="/about">About</a></li>
        <li><a class="link" href="/user">Profile</a></li>
        <li><a class="link" href="/offers">Current Offers</a></li>
        <li><a class="add-btn" href="/offers/new">Add An Offer</a></li>
        <li>
          <form action="/auth/logout" method="GET">
            <input type="submit" class="link" value="logout" />
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>
