<%- include('./partials/start') %>

<h1>Doesn't it feel nice to help others out?</h1>
<div class="about-contain">
  <p>
    "How Can I Help" is an application that allows students to offer and receive
    help from other students on various subjects and topics covered in tech. The
    idea grew organically due to the fact that student experience levels in
    programming bootcamps come in various levels and varying styles of learning.
    To help 'bridge the gap' and to help all students succeed, "How Can I Help"
    facilitates the idea of peer tutoring by letting students offer help before
    being asked for it.
  </p>
  <br />
  <p>
    Once you've signed in, getting started is as easy as creating or "adding" a
    new offer to help! As of right now you have a few languages and areas to
    help with, including Javascript, CSS, Express, and more! After you've posted
    your offer to help, other account holders can browse through offers, much
    like a listings page and choose to reach out to anyone who may be able to
    help them.
  </p>
  <br />
  <p>
    Because you're required to include a thorough description of the help you
    can offer and an appropriate amount of time you can offer for
    teaching/learning, the correct expecations are set in the beginning--win win
    for everyone!
  </p>
</div>

<%- include('./partials/end') %>
