<%- include('./partials/start') %>

<div class="search-contain">
  <h1>
    Need a quick answer or can't find an offer that fits?
    <br />Give it a quick search.
  </h1>
  <form>
    <input type="text" class="input-style search-input" />
    <input
      class="button-style"
      id="search-submit"
      type="submit"
      value="Search"
    />
  </form>
</div>
<div class="search-results"></div>
<script src="main.js"></script>
<%- include('./partials/end') %>
