<%- include('../partials/start') %>

<form method="POST" action="/offers">
  <div class="offer-form">
    <p class="input-label">Title:</p>
    <input
      class="input-style"
      type="text"
      name="title"
      placeholder="A few words that describe your offer"
      required
    />
    <p class="input-label">Category:</p>
    <select class="input-style" id="category" name="category">
      <option value="CSS">CSS</option>
      <option value="SQL">SQL</option>
      <option value="HTML">HTML</option>
      <option value="Javascript">Javascript</option>
      <option value="Express">Express</option>
    </select>
    <p class="input-label">Description:</p>
    <textarea
      class="input-style"
      name="description"
      placeholder="Tell us in detail how you can help!"
      required
    ></textarea>
    <p class="input-label">Time offered (in hours):</p>
    <input
      class="input-style"
      type="number"
      name="time_offered"
      min="1"
      placeholder="1"
      required
    />
    <div class="email-policy">
      <input type="checkbox" required />
      <p>
        By submitting this form, you agree to share your email address with
        others.
      </p>
    </div>
  </div>
  <input class="button-style" type="submit" value="Add your offer" />
</form>

<%- include('../partials/end') %>
