@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --main-bg-color: #fd5f59;
  --accent-gray: #cfcfcf;
  --accent-white: #ffffffef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: var(--accent-white);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  font-family: inherit;
}

input[type='submit'].link {
  border: none;
  font-size: inherit;
  cursor: pointer;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Login Page */
.login-contain {
  width: 70vw;
  max-width: 600px;
  margin: 13rem auto;
}

.top-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.create-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1rem;
  justify-content: center;
}

.top-form h2,
.create-header h2 {
  font-size: 2.2rem;
}

.link {
  color: inherit;
  font-family: 'Poppins', sans-serif;
}

.link:hover {
  color: var(--main-bg-color);
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.input-style {
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  border: 1px solid var(--accent-gray);
  min-height: 35px;
}

.button-style {
  background: none;
  padding: 0.3rem 1rem;
  background-color: var(--main-bg-color);
  cursor: pointer;
  color: var(--accent-white);
  font-size: 1rem;
  border: none !important;
  font-family: 'Poppins', sans-serif;
}

.button-style:hover,
.add-btn:hover {
  -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.42);
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.42);
}

/* Nav Bar */
.nav-contain {
  width: 100vw;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  border-bottom: 1px solid var(--accent-gray);
}

.add-btn {
  background: none;
  padding: 0.3rem 1rem;
  background-color: var(--main-bg-color);
  cursor: pointer;
  color: var(--accent-white);
}

.logo {
  width: 150px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links li {
  margin-left: 2.3rem;
}

/* All Offers Main Page */
.page {
  min-height: 90vh;
}

.main-contain {
  width: 80vw;
  max-width: 1100px;
  margin: 4rem auto 0;
}

.filter {
  padding-left: 0.5rem;
}

/* Individual Offers */
.offers-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  border: 1px solid var(--accent-gray);
  padding: 0.5rem;
  flex-basis: 500px;
}

.offer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid var(--accent-gray);
  padding-bottom: 0.4rem;
}

.offer-user {
  margin-bottom: 0.3rem;
}

.offer-description {
  margin-bottom: 0.7rem;
}

.offer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.time-offered {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.offer-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.offer-btns a {
  margin-left: 0.5rem;
}

/* Add Offer */
.offer-form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.input-label {
  margin: -0.3rem 0 0.5rem;
}

.email-policy {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  margin-bottom: 1rem;
}

.email-policy p {
  margin-left: 0.3rem;
}

/* Offer Show */
.offer-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  border: 1px solid var(--accent-gray);
  padding: 0.5rem;
}

/* Profile Page */
.profile-contain {
  padding-left: 0.5rem;
}

.dashboard {
  border: 1px solid var(--accent-gray);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-top {
  display: flex;
  flex-direction: row;
}

.offer-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer-count h3 {
  font-size: 1.3rem;
}

.offer-count h1 {
  font-size: 7rem;
}

.profile-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

#delete {
  background-color: rgb(158, 11, 11);
}

/* Search Page */
.input-style.search-input {
  width: 80%;
}

/* Footer */
footer {
  width: 100vw;
  background-color: var(--main-bg-color);
  margin-top: 2rem;
}

.footer-contain {
  width: 60vw;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.15rem;
  margin: 0 auto;
}

.footer-contain a {
  color: var(--accent-white);
}

.footer-contain a:hover {
  color: var(--accent-gray);
}

.footer-contain input:hover {
  color: var(--accent-gray);
}

.footer-contain li {
  margin-bottom: 1rem;
}

.search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

/* IMAGE */
img {
  width: 100%;
  margin: 0 auto;
}

/* Responsive */
@media only screen and (max-width: 1290px) {
  .offer {
    flex-basis: 475px;
  }
}

@media only screen and (max-width: 1015px) {
  .nav-contain {
    font-size: 1rem;
  }

  .nav-links li {
    margin-left: 1.75rem;
  }

  .search-contain h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 915px) {
  .nav-contain {
    flex-direction: column;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .nav-links li {
    margin-bottom: 1rem;
  }

  .logo {
    margin-bottom: 1.3rem;
  }

  .footer-contain p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 565px) {
  .offer-bottom {
    flex-direction: column;
  }

  .offer-bottom a,
  .offer-bottom input {
    margin-bottom: 0.2rem;
  }

  .search-contain h1 {
    font-size: 1.4rem;
  }

  .search-item {
    display: flex;
    flex-direction: column;
  }

  .top-form h2 {
    font-size: 1.3rem;
  }
}
